h1 {
  font-family: Arial, "Times New Roman";
  font-size: 22px;
  font-style: italic;
  font-weight: 100;
  text-align: left;
  text-decoration: underline;
  text-indent: 30px;
  text-transform: lowercase;
  color: rgba(77, 0, 255, 1);
  word-spacing: 10px;
  line-height: 40px;
}

a {
  font-size: 22px;
  line-height: 40px;
}

@font-face {
  src: url(fonts/Nosifer-Regular.ttf);
  font-family: nos;
}

.paragraph {
  font-size: 50px;
  line-height: 62px;
  font-family: 'Modak', cursive;
}

.paragraph2 {
  font-size: 50px;
  line-height: 62px;
  font-family: nos;
}
